<!-- src/app/features/user-management/users/users.component.html -->
<div class="page-header">
  <div class="add-item d-flex">
    <div class="page-title">
      <h4>User List</h4>
      <h6>Manage Your Users</h6>
    </div>
  </div>
  <ul class="table-top-head">
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Pdf" matTooltipPosition="above"><img
        src="assets/img/icons/pdf.svg" alt="img"></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Excel" matTooltipPosition="above"><img
        src="assets/img/icons/excel.svg" alt="img"></a>
    </li>
    <li>
      <a data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Refresh" matTooltipPosition="above"><i
        class="ti ti-refresh"></i></a>
    </li>
    <li>
      <a (click)="toggleCollapse()" [class.active]="isCollapsed" data-bs-toggle="tooltip" data-bs-placement="top" matTooltip="Collapse"
         matTooltipPosition="above" id="collapse-header"> @if (!isCollapsed) {
        <i class="ti ti-chevron-up"></i>
        }
        @if (isCollapsed) {
        <i class="ti ti-chevron-up"></i>
        }</a>
    </li>
  </ul>
  <div class="page-btn">
    <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-units"><i
      class="ti ti-circle-plus me-2"></i>Add User</a>
  </div>
</div>

<!-- /product list -->
<div class="card table-list-card">
  <div class="card-header d-flex align-items-center justify-content-between flex-wrap row-gap-3">
    <div class="search-set">
      <div class="search-input">
        <a href="javascript:void(0);" class="btn btn-searchset"><i class="feather icon-search feather-search"></i></a>
        <div class="dataTables_filter">
          <label>
            <input [(ngModel)]="searchDataValue" [ngModelOptions]="{standalone: true}" (ngModelChange)="searchData(searchDataValue)" type="search"
                   class="form-control" placeholder="Search" />
          </label>
        </div>
      </div>
    </div>
    <div class="d-flex table-dropdown my-xl-auto right-content align-items-center flex-wrap row-gap-3">

      <div class="dropdown me-2">
        <a href="javascript:void(0);" class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center" data-bs-toggle="dropdown">
          Status
        </a>
        <ul class="dropdown-menu  dropdown-menu-end p-3">
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1">Active</a>
          </li>
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1">Inactive</a>
          </li>

        </ul>
      </div>
      <div class="dropdown">
        <a href="javascript:void(0);" class="dropdown-toggle btn btn-white btn-md d-inline-flex align-items-center" data-bs-toggle="dropdown">
          Sort By : Last 7 Days
        </a>
        <ul class="dropdown-menu  dropdown-menu-end p-3">
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1">Recently Added</a>
          </li>
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1">Ascending</a>
          </li>
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1">Desending</a>
          </li>
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1">Last Month</a>
          </li>
          <li>
            <a href="javascript:void(0);" class="dropdown-item rounded-1">Last 7 Days</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div *ngIf="isLoading" class="alert alert-info py-2">Chargement...</div>
    <div *ngIf="errorMessage" class="alert alert-danger py-2">{{ errorMessage }}</div>
    <div class="table-responsive">
      <table matSort (matSortChange)="sortData($event)" class="table datanew">
        <thead class="thead-light">
        <tr>
          <th class="no-sort">
            <label class="checkboxs"  (click)="selectAll(initChecked)">
              <input type="checkbox" id="select-all" [(ngModel)]="initChecked" >
              <span class="checkmarks"></span>
            </label>
          </th>
          <th mat-sort-header="userName">User Name</th>
          <th mat-sort-header="phone">Phone</th>
          <th mat-sort-header="email">email</th>
          <th mat-sort-header="role">Role</th>
          <th mat-sort-header="status">Status</th>
          <th class="no-sort"></th>
        </tr>
        </thead>
        <tbody>
        @for (data of tableData; track data) {
        <tr>
          <td>
            <label class="checkboxs">
              <input type="checkbox" [(ngModel)]="data.isSelected">
              <span class="checkmarks"></span>
            </label>
          </td>
          <td>
            <div class="d-flex align-items-center">
              <a href="javascript:void(0);" class="avatar avatar-md me-2">
                <img src="assets/img/users/{{data.img}}" alt="product">
                  </a>
                  <div>
                    <a href="javascript:void(0);">{{data.userName}}</a>
                  </div>

                </div>
              </td>
              <td>{{data.phone}}</td>
              <td>{{data.email}}</td>
              <td>{{data.role}}</td>
              <td><span class="d-inline-flex align-items-center p-1 pe-2 rounded-1 text-white bg-success fs-10"><i class="ti ti-point-filled me-1 fs-11"></i>{{data.status}}</span></td>
              <td class="action-table-data">
                <div class="edit-delete-action">
                  <a class="me-2 p-2 mb-0" href="javascript:void(0);">
                    <i data-feather="eye" class="action feather icon-eye"></i>
                  </a>
                  <a class="me-2 p-2 mb-0" data-bs-toggle="modal" data-bs-target="#edit-units">
                    <i data-feather="edit" class="feather icon-edit"></i>
                  </a>
                  <a data-bs-toggle="modal" data-bs-target="#delete-modal" class="p-2 mb-0">
                    <i data-feather="trash-2" class="feather icon-trash-2"></i>
                  </a>
                </div>
              </td>
            </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
</div>
